<h1>Admin Home</h1>

<div class="btn btn-default btn-lg" style="display:inline-block">
    <%= button_to 'Login', new_provider_session_url %>
</div>

<div class="btn btn-default btn-lg" style="display:inline-block">
    <%= button_to 'Register', provider_registration_url %>
</div>
